In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# initialisation of some stuff
top_5_genre = ['war', 'western', 'thriller', 'scifi', 'crime']
df = pd.read_csv('titles_mod2.csv')
vectoriser  = TfidfVectorizer()

df.head()

,id,title,description,tokens,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,actor,actor_id,director,director_id
0,ts300399,Five Came Back: The Reference Films,collect includ world war ii era propaganda fil...,"['collect', 'includ', 'world', 'war', 'ii', 'e...",51,['documentation'],['US'],NaN,6.6,2.0,0.600,6.900,{},{},{},{}
1,tm84618,Taxi Driver,mental unstabl vietnam war veteran work night ...,"['mental', 'unstabl', 'vietnam', 'war', 'veter...",114,"['drama', 'crime']",['US'],tt0075314,8.2,808582.0,40.965,8.179,"{'Victor Argo', 'Bill Minkin', 'Harry Northup'...","{32267, 29068, 466061, 17421, 43791, 43279, 43...",{'Martin Scorsese'},{3308}
2,tm154986,Deliverance,intent see cahulawasse river turn one huge lak...,"['intent', 'see', 'cahulawasse', 'river', 'tur...",109,"['drama', 'action', 'thriller', 'european']",['US'],tt0068473,7.7,107673.0,10.010,7.300,"{'Ned Beatty', 'Macon McCalman', 'Pete Ware', ...","{197405, 100262, 53804, 24509, 24510, 84031, 8...",{'John Boorman'},{17727}
3,tm127384,Monty Python and the Holy Grail,king arthur accompani squir recruit knight rou...,"['king', 'arthur', 'accompani', 'squir', 'recr...",91,"['fantasy', 'action', 'comedy']",['GB'],tt0071853,8.2,534486.0,15.461,7.811,"{'Tom Raeburn', 'Vivienne MacDonald', 'Judy La...","{8327, 1275018, 1549, 919694, 90024, 156072, 4...","{'Terry Jones', 'Terry Gilliam'}","{11473, 11475}"
4,tm120801,The Dirty Dozen,american militari prison world war ii order in...,"['american', 'militari', 'prison', 'world', 'w...",150,"['war', 'action']","['GB', 'US']",tt0061578,7.7,72662.0,20.398,7.600,"{'Robert Phillips', 'Hal Galili', 'Hedger Wall...","{35200, 35201, 35202, 35203, 35204, 21244, 352...",{'Robert Aldrich'},{1063}

In [20]:

def get_key_word_list(genre):
    genre_df = df.loc[df['genres'].str.contains(genre)]
    corpus = []
    for i in range(0, len(genre_df)):
        if not pd.isna(genre_df.iloc[i]['description']):
            corpus.append(genre_df.iloc[i]['description'])

    tf_idf_vector = vectoriser.fit_transform(corpus)
    tf_idf_array = tf_idf_vector.toarray()
    words = vectoriser.get_feature_names_out() 

    df_tf_idf = pd.DataFrame(tf_idf_array, columns = words)
    key_words_dict = dict()
    for i in range(0, len(df_tf_idf)):
        descript_curr = df_tf_idf.iloc[i]
        non_zero_words = descript_curr[descript_curr > 0]
        non_zero_words = non_zero_words.sort_values(ascending = False)
        top_3_words = non_zero_words[0:3]
        for word in top_3_words.keys():
            if word not in key_words_dict:
                key_words_dict[word] = 1
            else:
             key_words_dict[word] = key_words_dict[word] + 1

    key_words_list = list(key_words_dict.items())
    key_words_list.sort(key = lambda x:x[1], reverse = True)
    return key_words_list[0:5]

# admittedly i could make this part of the function, but oh well
war_list = get_key_word_list('war')
print(f'Top 5 key words for war: {war_list}')
western_list = get_key_word_list('western')
print(f'Top 5 key words for western: {western_list}')
thriller_list = get_key_word_list('thriller')
print(f'Top 5 key words for thriller: {thriller_list}')
scifi_list = get_key_word_list('scifi')
print(f'Top 5 key words for scifi: {scifi_list}')
crime_list = get_key_word_list('crime')
print(f'Top 5 key words for crime: {crime_list}')

Top 5 key words for war: [('battl', 3), ('space', 2), ('forc', 2), ('rest', 2), ('empir', 2)]
Top 5 key words for western: [('arrog', 1), ('bandit', 1), ('four', 1), ('system', 1), ('solar', 1)]
Top 5 key words for thriller: [('prison', 6), ('daughter', 6), ('father', 5), ('killer', 5), ('vampir', 5)]
Top 5 key words for scifi: [('magic', 6), ('vampir', 6), ('robot', 6), ('school', 5), ('dragon', 5)]
Top 5 key words for crime: [('killer', 5), ('death', 5), ('prison', 5), ('job', 5), ('father', 4)]